.card-accepted {
  // background-color: #cdfadb;
  background-color: #a0ff03;
}
.card-rejected {
  // background-color: #ff8080;
  background-color: #e90b3a;
}
.card-pending {
  // background-color: #f6fdc3;
  background-color: #1ad5de;
}
